{% extends 'base.html' %}

{% block content %}
{% load static %}
  <div class="container mt-4">

    <div class="row">
        <div class="col-sm-11 ml-5">
            <h1 class="text-center text-white">Click the Album to get to its playslist!</h1>
        </div>  
    </div>

    <div class="row pt-5">
        <div class="col-sm-11 center">
            <h1></h1>
        </div>  
    </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="card h-100 border-0 bg-dark">
           
           <a href="https://www.youtube.com/watch?v=LDsU-XBUIzY&list=PLPObKp282vT6islVoFIul55FN1PyYijeA&ab_channel=RenanAlves" target="_blank" title=""><img class="card-img-top rounded-circle" src="{% static 'images/TheFame.jpg' %}" class="img-responsive"></a>   
        </div>
        
      </div>
      <div class="col-sm-3">
        <div class="card h-100 border-0 bg-dark">   
          
          <a href="https://www.youtube.com/watch?v=m1l8H8tWyV0&list=PL3B9CE687489AF0AF&ab_channel=MyYouTobeVEVO" target="_blank" title=""><img class="card-img-top rounded-circle" src="{% static 'images/TheFameMonster.jpg' %}" class="img-responsive"></a>  
        </div>  
      </div>
      
      <div class="col-sm-3">
        <div class="card h-100 border-0 bg-dark">   
            
            <a href="https://www.youtube.com/watch?v=O4IgYxHEAuk&list=PLn6t1qy2WfPfLxTdvlaPMy8gu7IFUO_9U&index=1&ab_channel=LadyGagaVEVO" target="_blank" title=""><img class="card-img-top rounded-circle" src="{% static 'images/BornThisWay.jpg' %}" class="img-responsive"></a>  
          </div>  
      </div>   

      <div class="col-sm-3">
        <div class="card h-100 border-0 bg-dark">   
            
            <a href="https://www.youtube.com/watch?v=IweaUe3dkjo&ab_channel=TristanMarien" target="_blank" title=""><img class="card-img-top rounded-circle" src="{% static 'images/ARTPOP.jpg' %}" class="img-responsive"></a>  
          </div>
      </div>  
    </div>

    <div class="row pt-5">  
      <div class="col-sm-3">  
        <div class="card h-100 border-0 bg-dark">   
            
            <a href="https://www.youtube.com/watch?v=TkUv_HwOq84&list=PLXuIvjrZxFRGbuMnT7bN6t4_-TeFnj9d9&ab_channel=LadyFuckingGaga" target="_blank" title=""><img class="card-img-top rounded-circle" src="{% static 'images/CheekToCheek.jpg' %}" class="img-responsive"></a>  
          </div>  
      </div> 

      <div class="col-sm-3">  
        <div class="card h-100 border-0 bg-dark">   
            
            <a href="https://www.youtube.com/watch?v=DgdqqATsGMY&list=PLMVc2N6suBoQb-U8h5KS-EST7b1HRyG3R&ab_channel=LadyGagaAudios" target="_blank" title=""><img class="card-img-top rounded-circle" src="{% static 'images/Joanne.jpg' %}" class="img-responsive"></a>  
          </div>  
      </div> 

      <div class="col-sm-3">  
        <div class="card h-100 border-0 bg-dark">   
            
            <a href="https://www.youtube.com/watch?v=DqlUt0Ff70Q&list=PLNyrUf5_Oy3NxgkUx4TCfnHIQOE_N3lnz&ab_channel=BradleyCooper-Topic" target="_blank" title=""><img class="card-img-top rounded-circle" src="{% static 'images/AStarIsBorn.jpg' %}" class="img-responsive"></a>  
          </div>  
      </div> 

      <div class="col-sm-3">  
        <div class="card h-100 border-0 bg-dark">   
            
            <a href="https://www.youtube.com/watch?v=_Z-TOeK_U8g&ab_channel=Al%C3%AA" target="_blank" title=""><img class="card-img-top rounded-circle" src="{% static 'images/Chromatica.jpg' %}" class="img-responsive"></a>  
          </div>  
      </div> 
    </div>
    
    
</html>
{% endblock content %}