{% extends 'base.html' %}


{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Lady Gaga{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>

    <style>
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
      }

      .container-fluid {
      border-radius: 25px;
      width: auto;
      height: auto;
      font-family:cursive;
      margin-left: 20%;
      margin-right: auto;
      }
      </style>


  <body class="bg-dark">
    <div class="container-fluid  bg-light mt-5">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col-xl-4 bg-light">
              <h3 class="text-center">About Us</h3>
              <p class="text-center">♥♥♥</p>
              <p class="text-center">This website has been created for all the Little Monsters!</p>
              <p class="text-center">♥♥♥</p>
              <p class="text-center">Here you will find all of Gaga's albums with a link to them!</p>
              <p class="text-center">♥♥♥</p>
              <p class="text-center">We also provide movies and TV shows where Lady Gaga had appeared!</p>
              <p class="text-center">♥♥♥</p>
              <p class="text-center">Last but certainly NOT least, you can upload your own fanart of Mother Monster!</p>    
              <p class="text-center">♥♥♥</p>
            </div>
            <div class="col-xl-4">
              <div class="card h-100 border-0 bg-light">   
                {% load static %}
                <img class="card-img-top rounded-circle" src="{% static 'images/LadyGaga.jpg' %}">  
              </div>  
            </div>
      
            <div class="col-xl-4 bg-light">
              <h3 class="text-center">About Gaga</h3>
              <p class="text-center">♥♥♥</p>
              <p class="text-center">Lady Gaga's real name is Stefani Joanne Angelina Germanotta.</p>
              <p class="text-center">♥♥♥</p>
              <p class="text-center">Stefani Germanotta was born on the 28th of March 1986.</p>
              <p class="text-center">♥♥♥</p>
              <p class="text-center">Gaga was born in New York and that is also where she grew up.</p>
              <p class="text-center">♥♥♥</p>
              <p class="text-center">Gaga is a Christian and she shows it throughout her music.</p>
              <p class="text-center">♥♥♥</p>
            </div>
          </div>
        </div>
        <div id="chat" class="col-xl-3 bg-dark pl-5" > 
          <iframe src="https://minnit.chat/GagaChat?embed&&nickname=" style="border:none;width:90%;height:500px;" allowTransparency="true"></iframe><br><a href="https://minnit.chat/GagaChat" target="_blank"></a>
        </div>
      </div>
    </div>
    <div class="footer bg-dark">
      <p>Copyright © Little Monsters</p>
    </div>
  </body>
</html>

{% endblock content %}
