#home {
    margin-left: auto;
    margin-right: auto;
    
}

#container {
    border-radius: 25px;
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

body {
    font-family:cursive;
}

#chat {
    padding-top: 0.7em;
}

#letter_list {
     margin: 1em;
     font-family: cursive;
}

a {
    color: rgb(0, 160, 160);
}

a:hover{
    text-decoration: none;
    color:rgb(213, 0, 213)
}


#image_mid {
    float: left;
    width: 25%;
    margin-top: 1em;
}

#text_left {
    float: left;
    text-align: left;
    max-width: 400px;
    margin-top: 1em;
}

#text_right {
    float: left;
    max-width: 400px;
    margin-top: 1em;
}

#facts {
    max-width: 400px;
}

